@import "bootstrap/scss/bootstrap";

.bestiary-heading2 {
    border-bottom: 2px solid $textHighlight;
    width: 100%;
    display: block;
    color: $textHighlight;
}

.bestiary-heading4 {
    border-bottom: 1px solid $textSecondary;
    width: 100%;
    display: block;
}

.bestiary-entry {
    // margin-top: 80px;
    margin-bottom: 120px;
    font-family: $fontBestiary;
}

.bestiary-link {
    padding: .1rem .5rem;
    margin: .2rem;
    text-decoration: none;
    color: $textPrimary;
}
.bestiary-link.active {
    background-color: $textPrimary; 
    color: $primary;   
}

.bestiary-link-heading {
    text-decoration: none;
    color: $textPrimary;
}
.bestiary-link-heading.active {
    background-color: $textPrimary; 
    color: $primary;  
}

.bestiary-offcanvas {
    background-color: $primary;
    color: $textPrimary;
    font-family: $fontMenu;
}

.bestiary-entry-container {
    background-color: $tertiary;
    color: $textSecondary;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: 1rem;
    box-shadow: 0 9px 0px 0px $secondary, 8px 0 8px 2px #00000052, -8px 0 8px 2px #00000052, 24px 0 15px -2px #00000044, -24px 0 15px -2px #00000044; // 3a3131 inset 12px 0 15px 4px #c4baa1ad, inset -12px 0 8px 4px #c4baa1ad;
}