@import "bootstrap/scss/bootstrap";

.bestiary-heading1 {
    width: 100%;
    display: block;
    color: $textHighlight;
}

.bestiary-heading2 {
    border-bottom: 2px solid $textHighlight;
    width: 100%;
    display: block;
    color: $textHighlight;
}

.bestiary-heading4 {
    border-bottom: 1px solid $textSecondary;
    width: 100%;
    display: block;
}

.bestiary-entry {
    // margin-top: 80px;
    margin-bottom: 120px;
    font-family: $fontBestiary;
}
.bestiary-category-entry > .img-fluid {
    max-width: 50%;
}

.bestiary-link {
    //padding: .1rem .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: .7rem;

    text-decoration: none;
    color: $textPrimary;
    display: block;
}
.bestiary-link:hover:not(.active) {
    font-weight: 300 !important;
}
.bestiary-link.active {
    background-color: $textPrimary; 
    color: $primary;   
}

.bestiary-link-heading {
    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: .1rem;
    padding-bottom: .1rem;

    text-decoration: none;
    color: $textPrimary;
    display: block;
    font-weight: 600;
}
.bestiary-link-heading:hover:not(.active) {
    font-weight: 500 !important;
}
.bestiary-link-heading.active {
    padding-top: .1rem;
    padding-bottom: .1rem;

    background-color: $textPrimary; 
    color: $primary;  
}


.bestiary-category-sublist {
    padding: 0px, 0px;
}

.bestiary-category-sublist + .bestiary-category-sublist {
    //margin-top: 1px;
}


// .bestiary-offcanvas {
//     background-color: $primary !important;
//     color: $textPrimary;
//     font-family: $fontMenu;
// }

#offcanvasResponsive-bestiary {
        background-color: $primary;
        color: $textPrimary;
        font-family: $fontMenu;
    }

.bestiary-entry-container {
    background-color: $tertiary;
    color: $textSecondary;
    // padding-right: .5rem;
    // padding-left: .5rem;
    padding-top: 1rem;
    box-shadow: 0 9px 0px 0px $secondary, 8px 0 8px 2px #00000052, -8px 0 8px 2px #00000052, 24px 0 15px -2px #00000044, -24px 0 15px -2px #00000044; // 3a3131 inset 12px 0 15px 4px #c4baa1ad, inset -12px 0 8px 4px #c4baa1ad;
}

#btn-open-bestiary-offcanvas {
    background-color: transparent;
    border: none;
    color: $textPrimary;
    font-family: $fontMenu;
}

#bestiary-overview-row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#bestiary-intro {
    text-align: center;
    margin-top: 2rem;
}
#bestiary-intro-text {
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 1rem;
}