@import "bootstrap/scss/bootstrap";

@font-face{
    font-family: "Kurale";
    src:local("Kurale-Regular"),
    url('../assets/fonts/Kurale-Regular.ttf') 
  }


// @font-face {
//     font-family: "PirataOne-Regular";
//     src:local("PirateOne-Regular"),
//     url('../assets/fonts/PirataOne-Regular.ttf')
// }
@font-face {
    font-family: "PirataOne-Regular";
    src:local("PirateOne-Regular"),
        url('../assets/fonts/PirataOne-Regular.ttf');
}


@font-face {
    font-family: "FiraSans";
    src: local("FiraSans-Thin.ttf") format('truetype'),
        url("../assets/fonts/FiraSans/FiraSans-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "FiraSans", sans-serif;
    src: local("FiraSans-ExtraLight.ttf"),
        url("../assets/fonts/FiraSans/FiraSans-ExtraLight.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "FiraSans", sans-serif;
    src: local("FiraSans-Light.ttf"),
        url("../assets/fonts/FiraSans/FiraSans-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "FiraSans";
    src: local("FiraSans-Regular.ttf"),
        url("../assets/fonts/FiraSans/FiraSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "FiraSans";
    src: local("FiraSans-Medium.ttf"),
        url("../assets/fonts/FiraSans/FiraSans-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "FiraSans", sans-serif;
    src: local("FiraSans-SemiBold.ttf"),
        url("../assets/fonts/FiraSans/FiraSans-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

