@import "bootstrap/scss/bootstrap";

$primary: #221d1d;
$secondary: #25201d;
$tertiary: #f1e4c4;

$textPrimary: #dfd6c4;
$textHighlight: #702a2a;
$textSecondary: #48392e;

@media (min-width: 992px) {
    .bd-layout {
        display: grid;
        grid-template-areas: "sidebar main endPlaceholder";
        grid-template-columns: 1fr 5fr;
        gap: 1.5rem;
    }

    .bd-sidebar {
        position: sticky !important;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        overflow-y: auto;
        //background-color: $tertiary;
    }

    .offcanvas-lg, .bd-offcanvas-body {
        overflow-y: visible !important;
    }
}

.bd-sidebar {
    grid-area: sidebar;
}

.navbar {
    background-color: $secondary !important;
}

.nav-link, .navbar-brand {
    color: $textPrimary !important;
}

body {
    //background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    background-color: $primary !important;
    color: $textPrimary !important;
}

.footer {
    background-color: $secondary;
}

.text-right {
    text-align: right;
}

.anchor {
    scroll-margin-top: 70px;
}

.default-main-container {
    height: calc(100vh - 240px);
}

@font-face{
    font-family: "Kurale";
    src:local("Kurale-Regular"),
    url('../assets/fonts/Kurale-Regular.ttf') 
  }

.kurale-regular {
    font-family: "Kurale";
    font-weight: 400;
    font-style: normal;
  }

@import "./bestiary.scss";