@import "bootstrap/scss/bootstrap";



$primary: #221d1d;
$secondary: #25201d;
$tertiary: #f1e4c4;

$textPrimary: #dfd6c4;
$textPrimarySubdued: #dfd6c4c2;
$textHighlight: #702a2a;
$textSecondary: #48392e;

// Dark
// $card-cap-bg: $textHighlight;
// $card-cap-color: $textPrimary;
// $card-bg: $secondary;
// $card-border-color: $textHighlight;
// $card-color: $textPrimary;

// Light
$card-cap-bg: $textHighlight;
$card-cap-color: $textPrimary;
$card-bg: $tertiary;
$card-border-color: $textHighlight;
$card-color: $textSecondary;

.rules-heading {
    color: $textHighlight;
    font-family: "Kurale";    
    display: inline-block;
    margin-right: 0.5rem;
}

.card {
    //--bs-card-bg: #{$secondary};
}

.card-footer {
    --bs-card-cap-color: #{$textPrimarySubdued};
}

.km-card {
    margin-bottom: 1.5rem;
    box-shadow: 0 0 8px 2px #000000, 0 0 15px 2px #000000a4; //box-shadow: 0 0 8px 2px #00000052, 0 0 15px 2px #00000044;

  //box-shadow: 0 9px 0px 0px $secondary, 8px 0 8px 2px #00000052, -8px 0 8px 2px #00000052, 24px 0 15px -2px #00000044, -24px 0 15px -2px #00000044;
}

.card > .list-group {
    // Dark
    // --bs-list-group-bg: #{$secondary} !important;
    // --bs-list-group-border-color: #{$textHighlight};
    // --bs-list-group-color: #{$textPrimary};

    // Light
    --bs-list-group-bg: #{$tertiary} !important;
    --bs-list-group-border-color: #{$textHighlight};
    --bs-list-group-color: #{$textSecondary};
}

// $fontMenu: "KronaOne-Regular"; //No
// $fontMenu: "PaytoneOne-Regular"; // No
// $fontMenu: "RobotoCondensed"; //Maybe
$fontMenu: "FiraSans"; // Maybe
// $fontMenu: "FiraSansCondensed-Regular"; // Yes
// $fontMenu: "FiraSansCondensed-Thin"; // NO
// $fontMenu: "MartelSans-Regular"; //Maybe
// $fontMenu: "MartelSans-Thin"; //Maybe, very similar to regular
// $fontMenu: "WorkSans-Regular"; // Maybe, bit short
// $fontMenu: "WorkSans-Light"; // No

$fontBestiary: "Kurale";
$fontBranding: "Kurale";
//$fontBranding: "PirataOne-Regular";

@media (min-width: 992px) {
    .bd-layout {
        display: grid;
        grid-template-areas: "sidebar main endPlaceholder";
        grid-template-columns: 1fr 5fr;
        gap: 1.5rem;
    }

    .bd-sidebar {
        position: sticky !important;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        overflow-y: auto;
        padding-left: 4rem;
        //padding-top: 1.5rem;
        //background-color: $tertiary;
    }

    .offcanvas-lg, .bd-offcanvas-body {
        overflow-y: visible !important;
    }
}

.bd-sidebar {
    grid-area: sidebar;
}

.navbar {
    background-color: $secondary !important;
    border-bottom: 4px solid $textHighlight;
    //box-shadow: -4px -4px 0px 4px $textHighlight inset;
    //font-family: "KronaOne-Regular";
    //box-shadow: 0 -4px 8px 12px #0000008a;
    box-shadow: 0 -4px 8px 12px #221d1d, 0 -4px 18px 20px #0000008a;

    padding-bottom: 0px !important; // is there a way to not have to use !important here?
    padding-top: 0px !important;
}

.nav-link {
    color: $textPrimary !important;
    font-family: $fontMenu;
    font-weight: 400 !important;

    padding-bottom: 1.125rem !important;
    padding-top: 1.125rem !important;
}
//Nav link interaction on desktop
@media (min-width: 992px) {
    .nav-link:hover:not(.active) {
        box-shadow: 0px -3px 0px 0px $textHighlight inset;
        font-weight: 300 !important;
    }
    .nav-link.active {
        box-shadow: 0px -5px 0px 0px $textHighlight inset;
        font-weight: 600 !important;
    }
}
// Nav link interaction on phone
@media (max-width: 992px) {
    .nav-link.active {
        border-left: 7px solid $textHighlight;
        font-weight: 600 !important;
        padding-left: 0.5rem;
    }
}


.navbar-brand {
    color: $textPrimary !important;
    font-family: $fontBranding;
    //font-size: 2rem !important;
    //font-weight: 600;
}

body {
    //background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    background-color: $primary !important;
    color: $textPrimary !important;
}

.footer {
    position: relative;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    background-color: $secondary;
    border-top: 4px solid $textHighlight;
    box-shadow: 0 4px 8px 12px #221d1d, 0 4px 18px 20px #0000008a;
}

.text-right {
    text-align: right;
}

.anchor {
    scroll-margin-top: 1.5rem + 3.75rem; // 3.75 is the header bar.
}
.bestiary-category-entry.anchor {
    scroll-margin-top: 5.5rem + 3.75rem;;
}

// The container that holds the entire page minus header/footer. Grid rows/columns are all children of this container.
.main-container {
    // height: 1px; // We must apply a height value for the min-height to work correctly.
    min-height: calc(100vh - 60px); // Full page height minus the combined height of the header and footer.
    //height: calc(100vh - 60px);
}
@media (max-width: 992px) {
    .main-container, .row {
        --bs-gutter-x: 0px !important; // Force remove x-gutters from the columns when on small screens, to hide any gaps at the edges.
    }
}

// Applied to the <main> section. Usually the central column of the 3 primary columns. 
// We apply top padding here, rather than a margin on the main-container, so that background colours can meet the navbar/footer.
.main-content {
    padding-top: 2rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.world-content {
    text-align: center;
    font-family: $fontMenu;
}

.world-content h1 {
    font-family: $fontBranding;
}

.test-border {
    //border-style: dashed !important;
    border: white;
    border-width: 1px;
}

.box-shadow-standard {
    box-shadow: 5px 10px 5px 10px;
}

@import "./fonts.scss";
@import "./bestiary.scss";
@import "./dividers.scss";
@import "./hyperlinks.scss";